:root {
  --result-columns: 2;
  --gridList-column: 250px;
  --gridList-rows: 250px;
  --gridList-gap: 6px;
}

.App-content {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 16px;
  text-align: left;
}

.App-logo {
  margin: 5px auto;
  padding: 10px 0;
  width: 120px;
  cursor: pointer;
}

.App-logo img {
  object-fit: cover;
  width: 80%;
}

.btn-add {
  height: 30px;
  background-color: #282c34;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 16px;
  cursor: pointer;
}

.btn-add:hover {
  background-color: #191b1f;
}

.text-add {
  width: 100%;
  height: 25px;
  margin-bottom: 12px;
  border: 1px solid #282c34;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  color: #282c34;
}

.text-add::placeholder {
  top: 0px;
  left: 0px;
  color: #282c34;
  font-size: 14px;
  font-weight: 600;
}

.card {
  page-break-inside: avoid;
  break-inside: avoid;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
  vertical-align: top;
}

.card h4 {
  bottom: 0;
  font-size: 12px;
  color: #fff;
  margin: 0;
  position: relative;
}

.Gif-link {
  color: #000;
  display: block;
  text-decoration: none;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 37.5rem) {
  :root {
    --result-columns: 3;
  }
}

@media screen and (min-width: 60rem) {
  :root {
    --result-columns: 4;
  }
}
